SECRET_KEY=NULqYIzgt28bTiyziCd7IOO7b6LnWDW!
DB_AUTH_NAME=textsender_auth_db
DB_AUTH_USER=textsender_auth
DB_AUTH_PASSWORD=password
DB_AUTH_HOST=localhost
DB_AUTH_PORT=5432
DB_AUTH_SSLMODE=disable
DATABASE_URL=postgres://${DB_AUTH_USER}:${DB_AUTH_PASSWORD}@${DB_AUTH_HOST}:${DB_AUTH_PORT}/${DB_AUTH_NAME}
ENABLE_REGISTRATION=true
ALLOWED_ORIGINS="http://textsender.com"
